<div class="left-bar" :class="show ? 'show' : ''">
  <div class="handle-bar" @click="show = !show">
    语音识别
    <div id="triangle-right"></div>
  </div>
  <div class="content" ref="content">
    <ul>
      <div class="clean" @click="cleanMessage">清空</div>
      <li v-for="item in logMessage">
        <div class="identifying" :class="item.roleName === '法官' ? '' : 'green' ">
          <span class="roleName">{{ item.roleName }}</span>:
          <span>({{ item.name }})</span>
          <span class="time">{{ item.createDate | formatDate }}</span>
        </div>
        <div class="text">
          {{ item.content }}
        </div>
        <img v-if="item.wav !== ''" class="voice-icon" src="../../assets/img/voice-icon.svg" alt="" @click="openWAV(item.wav)">
      </li>
    </ul>
  </div>
  <div class="input-wrapper" v-if="userInfo.role === 'judge'">
    <textarea v-model="message" type="text" placeholder="文字输入发送信息" @keyup.enter="sendMessage"></textarea>
    <div class="send-wrapper" @click="sendMessage">
      <img src="../../assets/img/send.svg" alt="发送">
    </div>
  </div>
  <div class="recorder">
    <a @click="handleTrigger">
      <div class="recorder-btn-begin" v-show="!recStatus">
        <span class="btn-title">{{ userInfo.role === 'judge' ? '开始庭审' : '语音识别' }}</span>
      </div>
    </a>
    <a @click="handleTrigger">
      <div class="recorder-btn-stop" v-show="recStatus">
        <span :class="userInfo.role === 'judge' ? 'btn-title' : 'btn-title-square' " v-show="recStatus">{{ userInfo.role === 'judge' ? '休庭' : '' }}</span>
      </div>
    </a>
  </div>
</div>