a {
  color: #000;
}
html{
    min-width: 1280px
}
.room-content {
  // background: #000;
  background-color: #F6F6F6;
  height: 100vh;
  overflow: auto;
  .header {
    height: 8%;
    display: grid;
    grid-template-columns: 20% 20% 20% 25% 15%;
    background-color: #1F4E87;
    .room-logo {
      grid-column-start: 1;
      grid-column-end: 2;
      height: 100%;
      line-height: 60px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      img {
        width: 48px;
        vertical-align: middle;
        margin-right: 15px;
      }
    }
    .room-title {
      grid-column-start: 3;
      grid-column-end: 3;
      height: 100%;
      line-height: 60px;
      font-size: 16px;
      color: #fff;
    }
    .mainInfo {
      background-color: #25A7F0;
      border-radius: 23px;
      grid-column-start: 3;
      grid-column-end: 4;
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      color: #fff;
      position: relative;
      top: -18px;
      font-size: 14px;
      z-index: 9;
    }
    .export-log {
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      background: rgb(75, 5, 5);
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 170px;
    }
    .leave {
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
    }
    .end-court {
      width: 125px;
      height: 50px;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      right: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .text{
        color:#fff;
        font-weight: 700;
      }
    }
  }
  .right-content {
    position: fixed;
    top: 7.5%;
    right: 0;
    width: 60px;
    height: 92.5%;
    border: 1px solid #E8E8E8;
    cursor: pointer;
    z-index: 9;
    .right-content-up {
      width: 100%;
      height: 50%;
      padding: 128px 16px;
      color: #25A8F1;
      background-color: #DCDCDC;
    }
    .right-content-down {
      width: 100%;
      height: 50%;
      padding: 128px 16px;
      color: #25A8F1;
      background-color: #DCDCDC;
    }
    .active {
      background-color: #25A8F1;
      color: #FFF;
    }
  }
  .mainPlayer {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .localPlayer {
    display: inline-block;
    width: 30%;
    float: left;
    // max-width: 450px;
    min-width: 240px;
    height: 260px;
    .qnrtc-stream-player {
        width: 24%;
        max-width: 450px;
        min-width: 240px;
      height: 260px;
      object-fit: fill;
    }
  }
  .remoteplayer-list {
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    text-align: center;
    height: 260px;
    bottom: 0;
    left: 0;
    right: 0;
    &.bigger {
      height: 260px;
      .remotePlayer {
        display: inline-block;
        // width: 450px;
        height: 260px;
        float: left;
        .title{
        //   width: 450px;
          height: auto;
        }
        .qnrtc-stream-player {
        //   width: 450px;
          height: 260px;
          object-fit: fill;
        }
      }
      .localPlayer {
        display: inline-block;
        // width: 450px;
        height: 260px;
        .title{
        //   width: 450px;
        }
        .qnrtc-stream-player {
        //   width: 450px;
          height: 260px;
          object-fit: fill;
        }
      }
    }
  }
  .remotePlayer {
    display: inline-block;
    width: 20%;
    // max-width: 450px;
    min-width: 240px;
    .qnrtc-stream-player {
        width: 24%;
        max-width: 450px;
        min-width: 240px;
      height: 200px;
      object-fit: fill;
    }
  }
  .right-bar {
    width: 360px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 60px;
    bottom: 250px;
    right: -300px;
    z-index: 99;
    transition: all 1s ease;
    &.show {
      right: 0px;
    }
  }
  .right-bar {
    .menu-bar {
      width: 60px;
      position: absolute;
      left: 0;
      .evidence {
        width: 100%;
        height:  85px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: #40a9ff;
        padding: 8px 10px;
        margin-top: 15%;
        box-sizing: border-box;
        color: #fff;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        img {
          display: block;
          margin: 0 auto;
        }
        div {
          line-height: 20px;
        }
      }
    }
  }
}
.show{
    display: inline-block!important;
}
.disabled{
    background-color: #ddd;
    border-color: #ddd;
    color:#57a3f3;
    cursor: not-allowed; // 鼠标变化
   }
