<div class="room-content">
  <div class="header">
    <div class="room-logo">
      <img src="/dist/images/tu-s.png">湖里区人民法院在线庭审</div>
    <div class="room-title">{{ caseNo }}</div>
    <div class="export-log" v-if="userInfo.role === 'judge'" @click="exportlog">导出庭审记录</div>
    <div class="leave" @click="outRoom">
      <img src="../../assets/img/leave.svg" alt="离开">
    </div>
    <div @click="endCourt" v-if="userInfo.role === 'judge'">
      <div class="end-court">结束庭审</div>
    </div>
    <!-- <div class="room-time"> {{clock.date}} {{clock.time}} {{clock.week}}（北京时间）</div> -->
  </div>
  <MainPlayer />
  <div class="remoteplayer-list">
    <LocalPlayer :stream="localStream" />
    <RemotePlayer v-for="(item, index) in users" v-if="item.userId !== userId" :id="item.userId" :key="index" />
  </div>
  <div class="right-bar" :class="evidenceShow ? 'show' : ''">
    <div class="menu-bar">
      <div class="evidence" @click="evidenceShow = !evidenceShow">
        <img src="../../assets/img/evidence.svg" alt="证据">
        <div>证据</div>
      </div>
    </div>
    <EvidenceWindow />
  </div>
  <ChatWindow />
</div>