<div class="room-content">
    <div class="header">
        <div class="room-logo">
            {{hallName}}
        </div>
        <div class="room-title">议理堂在线调解</div>
        <div class="mainInfo">当前主屏：{{ mainInfo.name }}</div>
        <div class="leave" @click="outRoom" style="color: #fff;">
            <!-- <img src="../../assets/img/leave.svg" alt="离开"> -->
            退出
        </div>
        <div v-if="roleName == '法院'">
            <!-- <div @click="endCourt" class="end-court">休庭</div> -->
            <div class="end-court">
                <el-dropdown trigger="click" @command="start">
                    <span class="el-dropdown-link text">
                        调解控制<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>开始调解</el-dropdown-item>
                        <el-dropdown-item>结束调解</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
    <!-- <div class="room-time"> {{clock.date}} {{clock.time}} {{clock.week}}（北京时间）</div> -->
    </div>
    <div class="right-content">
        <div class="right-content-up" :class="{active:isActive == '1'}" @click="choice('1')">
            调解协议
        </div>
        <div class="right-content-down" :class="{active:isActive == '2'}" @click="choice('2')">
            基础信息
        </div>
        <div class="baseInfo-box" v-show="baseInfoShow">
            <p><el-input v-model="caseNo" placeholder="请输入案号"></el-input></p>
            <div class="baseInfo-title"><img src="../../assets/img/applicant.png" alt=""><span>申请人</span></div>
            <div class="applicant-name">
                <span>姓名<input type="text" v-model="applicant.name" placeholder="请输入姓名"></span>
                <span>联系电话<input type="text" v-model="applicant.phone" placeholder="请输入联系电话"></span>
            </div>
            <div class="applicant-id">
                <span>身份证<input type="text" v-model="applicant.id_card" placeholder="请输入身份证号"></span>
            </div>
            <div class="applicant-address">
                <span>地址<input type="text" v-model="applicant.address" placeholder="请输入地址"></span>
            </div>
            <div class="baseInfo-title"><img src="../../assets/img/respondent.png" alt=""><span>被申请人</span></div>
            <div class="respondent-name">
                <span>姓名<input type="text" v-model="respondent.name" placeholder="请输入姓名"></span>
                <span>联系电话<input type="text" v-model="respondent.phone" placeholder="请输入联系电话"></span>
            </div>
            <div class="respondent-id">
                <span>身份证<input type="text" v-model="respondent.id_card" placeholder="请输入身份证号"></span>
            </div>
            <div class="respondent-address">
                <span>地址<input type="text" v-model="respondent.address" placeholder="请输入地址"></span>
            </div>
            <div class="justiceBureau">
                <span>
                    <img src="../../assets/img/justiceBureau.png" alt="">
                    司法局<input type="text" v-model="justiceBureau" placeholder="请输入地址">
                </span>
            </div>
            <div style="margin-top: 15px;"><el-button :loading="loading1" type="primary" @click="submit">提交</el-button></div>
        </div>
    </div>
    <MainPlayer ref="mainPlayer" />
    <div :class="userInfo.role === '法官' ? 'bigger remoteplayer-list' : 'remoteplayer-list' ">
        <LocalPlayer ref="localPlayer" :stream="stream" />
        <RemotePlayer v-for="(item, index) in users" :class=windowIsShowClass v-if="item.userId !== userId" :id="item.userId" :key="index" />
    </div>
    <!-- <div class="right-bar" :class="(evidenceShow || workerShow || courtShow || logShow) ? 'show' : ''">
        <div class="menu-bar">
            <div class="evidence" @click="workerShow = !workerShow;evidenceShow=false;courtShow=false;targetShow='worker';logShow = false;">
                <img src="../../assets/img/worker.svg" alt="审辅人员">
                <div>审辅人员</div>
            </div>
            <div class="evidence" @click="evidenceShow = !evidenceShow;workerShow=false;courtShow=false;targetShow='evidence';logShow = false;">
                <img src="../../assets/img/evidence.svg" alt="证据列表">
                <div>证据列表</div>
            </div>
            <div class="evidence" @click="courtShow = !courtShow;workerShow=false;evidenceShow=false;targetShow='court';logShow = false;">
                <img src="../../assets/img/edit.svg" alt="文本编辑">
                <div>文本编辑</div>
            </div>

            <div class="evidence" v-if="userInfo.role === '法官'" @click="logShow = !logShow;workerShow=false;evidenceShow=false;targetShow='logS'; courtShow = false;">
                <img src="../../assets/img/export.svg" alt="庭审笔录">
                <div>庭审笔录</div>
            </div>
            <div class="evidence"  @click="signCheck">
                <img src="../../rtc/assets/img/svg1.svg" alt="签名确认">
                <div>签名确认</div>
            </div>
        <div class="evidence" v-if="userInfo.role === '法官'" @click="jumpBigData">
            <img src="../../assets/img/video.svg" alt="庭审视频">
            <div>庭审视频</div>
        </div>
        </div>
        <EvidenceWindow v-show="!workerShow && !courtShow && targetShow==='evidence' && !logShow" @opens="opens"/>
        <CourtWindow v-show="!workerShow && !evidenceShow && targetShow==='court' && !logShow" />
        <WorkerWindow v-show="!evidenceShow && !courtShow && targetShow==='worker' && !logShow"  />
        <logWindow v-show="!evidenceShow && !courtShow && targetShow==='logS' && !workerShow" />
    </div> -->
    <!-- <ChatWindow /> -->
    <!-- <div v-if='isReadWindow' class="swal2-container swal2-center swal2-shown" style="overflow-y: auto;">
        <div  class="swal2-popup swal2-modal swal2-show" style="display:block;margin-left: -16rem;top: 5%;left:50%;z-index: 9999;">
            <div class="swal2-header">
                <h2 class="swal2-title" id="swal2-title" style="display: flex;">庭审纪律</h2>
            </div>
            <div class="swal2-content"> 
                <div id="swal2-content" style="display: block;">
                <div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;">全体人员在庭审活动中应当服从审判长或独任审判员的指挥，尊重司法礼仪，遵守法庭纪律：</div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;">(一)不得鼓掌、喧哗；</div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;">(二)不得吸烟、进食；</div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;">(三)不得拨打或接听电话；</div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;">(四)不得对庭审活动进行录音、录像、拍照或使用移动通信工具等传播庭审活动；</div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;">(五)不得实施其他危害法庭安全或妨害法庭秩序的行为。诉讼参与人发言或提问，应当经审判长或独任审判员许可。旁听人员不得进入审判活动区，不得随意站立、走动，不得发言和提问。</div>
                    <div style="text-align:left;margin-bottom:5px;text-indent:2em;font-weight:bold">特别提示：在线庭审过程通过AI语音识别，同步记录，并录音录像。如庭审过程中出现网络中断等情况，请及时与法官联系。除经查明确属网络故障、设备损坏、电力中断或者不可抗力等原因外，当事人不按时参加在线庭审的，视为“拒不到庭”，庭审中擅自退出的，视为“中途退庭”，分别按照《中华人民共和国民事诉讼法》及相关司法解释的规定处理。</div>
                    <br/>
                    <label><input @click="CheckItem($event)" checked name="isRead" type="checkbox" value="" />&nbsp;&nbsp;我已阅读</label><br/><br/>
                </div>
                </div>
            </div>
            <div class="swal2-actions"  style="display: flex;"><button type="button" @click='closeIsRead' :class="{disabled:!this.content=='明白'}" class="swal2-styled swal2-confirm" aria-label="" style="border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">{{content}}</button></div>
        </div>
    </div> -->
    <!-- <el-dialog
    title="案件列表"
    :visible.sync="dialogShow"
    width="30%"
    :close-on-click-modal="false"
    :before-close="handleClose">
    <el-table
      :data="selectedCase"
      border
      style="width: 100%">
      <el-table-column
        prop="caseNo"
        label="案号"
        align="center"
        fixed
      >
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        fixed
      >
      <template slot-scope="scope">
          <el-button @click="getNote(scope.row)" size="small">查看会议笔录</el-button>
      </template>
      </el-table-column>
    </el-table>
    <div slot="footer" class="dialog-footer">
      <el-button  @click="clearAll">关闭</el-button>
    </div>
  </el-dialog> -->
  <!-- <el-dialog title="基础信息" :visible.sync="dialogFormVisible">
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>参与人信息</span>
            <el-button style="float: right; padding: 3px 0" type="text" @click="getById()">新增参与人</el-button>
        </div>
        <div v-for="(item,index) in joinPeopleArr" :key="index">
            <el-row>
                <el-col :span="12">
                    <el-button type="text" @click="getById(item.id)">{{item.name}}</el-button>
                </el-col>
                <el-col :span="12">
                    <el-button type="text" @click="del(item.id)">删除</el-button>
                </el-col>
                
            </el-row>
        </div>
    </el-card>
  </el-dialog>
  <el-dialog :visible.sync="joinPeople">
    <el-form :model="form">
    <el-form-item label="参与人姓名" :label-width="formLabelWidth">
        <el-input v-model="form.name" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="参与人证件号码" :label-width="formLabelWidth">
        <el-input v-model="form.id_card" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="参与人地址" :label-width="formLabelWidth">
        <el-input v-model="form.address" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="参与人手机号码" :label-width="formLabelWidth">
        <el-input v-model="form.phone" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="参与人类别" :label-width="formLabelWidth">
        <el-select v-model="form.type" placeholder="请选择活动区域">
        <!-- <el-option label="法院" value="0"></el-option>
        <el-option label="司法局" value="1"></el-option> -->
        <!-- <el-option label="申请人" value="2"></el-option>
        <el-option label="被申请人" value="3"></el-option>
        </el-select>
    </el-form-item>
    </el-form>
    <div slot="footer">
        <el-button @click="joinPeople = false">取 消</el-button>
        <el-button type="primary" @click="joinPeople = false">确 定</el-button>
    </div>
  </el-dialog> --> -->
</div>