<div>
<!-- LOGIN MODULE -->
  <div class="login">
    <div class="user" v-show="!isLogin" @keydown.enter="handleLogin">
      <div class="form-wrap">
        <!-- TABS CONTENT -->
        <div class="tabs-content" v-show="!isLogin">
          <div class="logo-box"></div>
          <div id="login-tab-content" :class="userType == 'judge' ? 'active' : ''">  
            <div class="login-form">
              <div class="form-item">
                <img class="login-icon" src="../../assets/img/user.png" alt="">
                <input v-model="judgeLoginForm.username" type="text" class="input" placeholder="请输入用户名">
              </div>
              <div class="form-item">
                <img class="login-icon" src="../../assets/img/pw.png" alt="">
                <input v-model="judgeLoginForm.password" type="password" maxlength="16" class="input" placeholder="请输入密码">
              </div>
              <div class="form-item">
                <img class="login-icon" src="../../assets/img/T.png" alt="">
                <input v-model="judgeLoginForm.code" type="code" class="input" placeholder="请输入验证码">
                <span class="code-wrapper" @click="changeCode">
                  <img height="32px" style="vertical-align: middle;" :src="codeSrc" alt="验证码">
                </span>
              </div>
              <div @click="handleLogin" class="button" v-loading.fullscreen.lock="loading">登录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap case-list-wrapper" v-show="isLogin">
    <div class="back" @click="backToLogin">
      <img src="../../assets//img//back.svg" alt="返回" />
    </div>
    <div class="wrapper">
      <header @keydown.enter="serachByCaseNo">
        <input v-model="hallName" type="text" placeholder="请输入村名查询">
        <div class="search-icon" @click="serachByCaseNo">
          <img src="../../assets/img/searchIcon.png" alt="搜索" />
        </div>
      </header>
      <div class="container scrollStyle">
        <ul class="todo" id="todo">
          <li v-for="(item, index) in caseList2" :key="index">
            <span class="caseNo-wrapper" style="width:540px">{{ item.name }}</span>
            <div class="case-state">
              <div class="light" :class="item.mediate ? 'open' : 'disable' "></div>
              <span>{{ item.mediate ? '正在调解' : '未调解' }}</span>
            </div>
            <div class="join-room" @click="roomToken(item)">
              进入调解
            </div>
            <div style="margin-right: 45px;" class="join-room" @click="getRecord(item.id)">
              调解记录
            </div>
          </li>
        </ul>
      </div>
    </div>
    <el-pagination
      layout="prev, pager, next"
      :page-count="totalPage"
      @current-change="pageChange">
    </el-pagination>
  </div>
    <!-- 已选择的案件列表弹窗(已开庭) -->
    <!-- <SelectDialog v-if="loginrole=='法官'" :selectList="selectedCase" :dialogShow="selected" @closeDialog="closeDialog" @delCase="delSelectCase($event,caseList)" @openCourt="openCourt($event)" @clearAll="clearAll(caseList)"></SelectDialog> -->
    <!-- 书记员批量开庭房间 -->
    <!-- <clerkSelectDialog v-if="loginrole=='书记员'" ref="clerkDialog" :selectList="clerkBatcnRooms"  :dialogShow="batchRoomsShow" @closeDialog="closeDialogClerk"  @openCourt="openCourtClerk" @clearAll="clearAll(caseList)"></clerkSelectDialog> -->
</div>

