.localPlayer {
  .title {
    width: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    img {
      width: 23px;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
}
