<div>
    <div style="width:100%;height:100%;padding:0.1rem;">
      <div class="mybook" v-show="myBookShow">
        <div class="mytext" ref="mytext">
          <slot>
            
            <h1>声明</h1>
            <p>&nbsp&nbsp&nbsp&nbsp本人同意通过电子签名在庭审笔录及相关法律文书上签署，同时认可在线签署的电子签名在庭审笔录及相关法律文书，与纸质文书具有相同的法律效力</p>
            <p style="text-align:right">日期：{{textDate}}</p>
            <div class="nameDiv">
              <span>签名：</span>
              <label v-if='!myNameShow'>请签名</label>
              <img v-bind:src="url" v-show="myNameShow" @click="writeName" class="myName" :style="{width:nameWidth,height:nameHeight}">
            </div>
            <!-- <img class="real_pic" :src="dataURL" /> -->
          </slot>
        </div>
  
        <div class="writeName">
          <yd-button @click.native="writeName">
            <span v-if="dataURL==''">进入签名</span>
            <span v-if="dataURL!=''">重签</span>
          </yd-button>
          <yd-button @click.native="submitText"><span>提交</span></yd-button>
        </div>
      </div>
      <div class="mydraw" v-show="myDrawShow">
        <div class="cont" style="width:15%;">
          <yd-button @click.native="clear"><span>清除</span></yd-button>
          <yd-button @click.native="save"><span>保存</span></yd-button>
          <yd-button @click.native="close"><span>关闭</span></yd-button>
        </div>
        <div class="cont" style="width:70%;height:100%;position: relative;">
          <canvas id="canvas" width="260px" height="700px" ref="mycanvas">Canvas画板</canvas>
        </div>
        <div class="cont" style="width: 12%;font-size:0.3rem">
          <p>
            签&nbsp;&nbsp;字
          </p>
        </div>
      </div>
    </div>
</div>

