.room-content {
  .remotePlayer {
    position: relative;
    vertical-align: top;
    margin-right: 5px;
    background: #000;
    // transition: all 1s ease;
    .title {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 5px;
      font-size: 20px;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      z-index: 99;
      img {
        width: 23px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
    }
  }
  .remotePlayer.full {
    position: fixed;
    width: 1000px;
    top: 30px;
    left: 50%;
    margin-left: -500px;
  }
}

